
<nav>
  <% if user_signed_in? %>
    <li class='minimenu'>
      <%= link_to('Logout |', destroy_user_session_path, :method => :delete) %>     
      <%= link_to('Edit', edit_user_registration_path) %>   
    </li>
  <% else %>
    <li class='minimenu'>
      <%= link_to('Login |', new_user_session_path)  %> 
      <%= link_to('Register', new_user_registration_path)  %> 
    </li>
  <% end %>
</nav>