
	<section id="video_section">
		
	
		<div id="videos">
	        <div id="subscriber"></div>
	        
	    </div>



	    
	    


	</section>

	

	<section id="chat_section">

		
		<header id="info_section">
		
		<% if @showDeleteSessionInsteadOfStartPublishing == "true" %>

			<%= link_to delete_all_sessionsV2_path do %>
				<div id="deleteSession">DELETE_SESSION</div>
				<% @showDeleteSessionInsteadOfStartPublishing = "false" %>
			<% end %>
			


		<% elsif @showDeleteSessionInsteadOfStartPublishing == "false" %>
			<div id="publisherStart">Start Publishing</div>
		<%end%>




		</header>
		
		<div id="chat_window">

        	
            	
        	
    		

        	
            	
        	
    		

    		
        	
		

    		
        	
		</div>
	    	
    	<div id="msg">
			<%= text_field_tag 'message', nil, placeholder: 'speak here...' %>
			<%= button_tag(type: 'submit') do %>
				<%=		content_tag(:strong, 'SEND!') %>
			<% 	end %>




			 
		</div>





	</section>

	











