
	<section id="video_section">
		
	
		<div id="videos">
	        <div id="subscriber"></div>
	        
	    </div>



	    
	    <%= @ipAddress %>

	    <%= @api_key %>

	    <%= @api_secret %>


	</section>

	<section id="info_section">
		
	
		<div id="publisherStart">Start Publishing</div>




	</section>

	<section id="chat_section">
		
	
		<p>sdfsdfsdfsdfs</p>






	</section>

	











