
	<section id="video_section">
		
	
		<div id="videos">
	        <div id="subscriber"></div>
	        
	    </div>



	    
	    <%= @ipAddress %>

	    <%= @api_key %>

	    <%= @api_secret %>


	</section>

	<section id="info_section">
		
		<% if @showDeleteSessionInsteadOfStartPublishing == "true" %>

			<%= link_to delete_all_sessionsV2_path do %>
				<div id="deleteSession">DELETE_SESSION</div>
				<% @showDeleteSessionInsteadOfStartPublishing = "false" %>
			<% end %>
			


		<% elsif @showDeleteSessionInsteadOfStartPublishing == "false" %>
			<div id="publisherStart">Start Publishing</div>
		<%end%>




	</section>

	<section id="chat_section">
		
	
		<p>sdfsdfsdfsdfs</p>






	</section>

	











