<input class="expand_menu_checkbox" type="checkbox" id="expand_menu_checkbox" />
		<ul class="menu">



		<% if @showDeleteSessionInsteadOfStartPublishing == "true" && user_signed_in? && @isAdmin == "true"%>

			<li>
				<a href="/general/deleteSessionsV2", class="btnV2">Reset</a>
					
			</li>
			

		<% elsif @showDeleteSessionInsteadOfStartPublishing == "false"  && user_signed_in? && @isAdmin == "true"%>

			
			<li>
				<a href="#" class="publisherStart" class="btnV2">Start Publishing</a>
			</li>
			
			
		<% elsif user_signed_in? %>

			<li>
				<a href="/" class="try2Connect" class="btnV2">Connect</a>
			</li>
			

		
		<%end%>

			<li>

				<a href="#" class="toggle_chat btnV2">toggle chat</a>
			</li>

		
	</ul>