.simple_form label {
  float: left;
  width: 200px;
  text-align: right;
  margin: 2px 10px;
  white-space: nowrap;

}

.simple_form div.input {
  margin-bottom: 10px;
  display: block;
}

.error_notification{

	

}


span.error{
	float: right;

}


form{
//display: inline-block;
//padding-right: 100px;



}
#fileSwitch{

	display: none;

}

.avatar_wrapper_current{

	
	grid-area: avatar;
	justify-self: end;
	align-self: center;
	
  	
		
}

#new_user.simple_form.new_user{

	display: grid;

  	justify-items: center;
  	align-items: center;
	
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
	grid-template-areas:

		"form form"
		"avatar button"
		"enter enter"
}

#edit_user{

	
}


.devise_upper{
	grid-area: form;
	

}
.upload-preview{

	justify-self: end;
}
.upload-preview img{
	
	margin: 0;
	border: 1px solid #021a40;
	grid-area: avatar;
	height: 50px;
	width: 50px;
	margin-right: 1.5em;
}

.upload_button{

	grid-area: button;
	justify-self: start;
	align-self: center;
}

.devise_signup{
	grid-area: enter;
	justify-self: center;
	width: 100%;
}

.upload_button label{

	text-align: left !important;

	font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.avatar_label{
	text-align: left;
}

.avatar_label span{

	float: left;
}


.avatar_wrapper #user_wrapper{

	margin: 0;
	padding: 0;
}

#headline{

	float: left;
	height: min-content;
}


#padlock{
	height: 20px;
	width: 20px;
	float:right;		


}

.devise_headline{
	grid-area: headline;


}




.devise_login{
	grid-area: login;


}

.devise_signup{
	text-align: center;
	margin-top: 1em;
}

.devise_signup input.btn{

	justify-self: stretch;
	height: 4em;
	width: 100%;

}

.chg_avatar{

	width: min-content !important;
}