//.simple_form label {
//  //float: left;
//  //width: 200px;
//  text-align: right;
//  margin: 2px 10px;
//  white-space: nowrap;

//}



.edit_label {
    //text-align: right;
    //margin: 2px 10px;
    //margin-top: 18px;
    white-space: nowrap;
    font-size: .75rem;
    color: red;

    align-self: center;
    justify-self: end;
    padding-right: 8px;
}

.button_to_change_avatar{

	margin-right: 8px;

	padding: 2.5px 5px;

	justify-self: end;
	align-self: center;
	text-decoration: none;
	background-color: red;
	//display: inline-block;
	

	//line-height: 50px;
 	 white-space: nowrap;


 	color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    //vertical-align:middle;
    //max-width: 100px;
    //padding: 5px;
    //text-align: center;

    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */


}

.simple_form div.input {
  margin-bottom: 10px;
  display: block;
}

.error_notification{

	

}


span.error{
	float: right;

}


form{
//display: inline-block;
//padding-right: 100px;



}
#fileSwitch{

	display: none;

}

.avatar_wrapper_current{

	
	grid-area: avatar;
	justify-self: end;
	align-self: center;
	
  	
		
}

//#new_user.simple_form.new_user{

//	display: grid;

//  	justify-items: center;
//  	align-items: center;
	
//	grid-template-columns: 1fr 1fr;
//	grid-template-rows: minmax(min-content, auto) minmax(min-content, auto) minmax(min-content, auto);
//	grid-template-areas:

//		"form form"
//		"avatar button"
//		"enter enter"
//}

#edit_user{

	margin: 0;
	padding: 0;
	width: 100%;

	display: grid;
	grid-gap: 10px;

	align-items: center;
	
	grid-template-columns: 1fr 1fr;
	//grid-template-rows: min-content;
	grid-template-areas:

		"edit_uid_label          edit_uid"
		"edit_first_name_label   edit_first_name"
		"edit_last_name_label    edit_last_name"
		"edit_email_label        edit_email"
		"edit_current_label      edit_current"
		"edit_change_label       edit_change"
		"edit_confirm_label      edit_confirm"
		"edit_avatar_label       edit_avatar"
		"edit_button             edit_button";

	




}

#new_user{

	margin: 0;
	padding: 0;
	width: 100%;

	display: grid;
	grid-gap: 10px;

	align-items: center;
	
	grid-template-columns: 1fr 1fr;
	//grid-template-rows: min-content;
	grid-template-areas:

		"edit_uid_label          edit_uid"
		"edit_first_name_label   edit_first_name"
		"edit_last_name_label    edit_last_name"
		"edit_email_label        edit_email"
		
		"edit_change_label       edit_change"
		"edit_confirm_label      edit_confirm"
		"edit_avatar_label       edit_avatar"
		"edit_button             edit_button";

	




}

#edit_button{

	grid-area: edit_button;
}


.devise_upper{
	//grid-area: form;
	

}

.upload-preview img{
	
	margin: 0;
	border: 1px solid #021a40;
	//grid-area: avatar;
	height: 50px;
	width: 50px;
	margin-right: 1.5em;
}

.upload_button{

	//grid-area: button;
	justify-self: start;
	align-self: center;
}

.devise_signup{
	//grid-area: enter;
	justify-self: center;
	width: 100%;
}

.upload_button label{

	text-align: left !important;

	font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.avatar_label{
	text-align: left;
}

.avatar_label span{

	float: left;
}


.avatar_wrapper #user_wrapper{

	margin: 0;
	padding: 0;
}

#headline{

	
	height: min-content;
}




.devise_headline{
	grid-area: headline;
	align-content: center;

	align-items: center;

	padding: 20px;

	display: grid;

	grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
	grid-template-rows: minmax(min-content, max-content);



}

.devise_headline img{

	align-self: center;
	justify-self: end;
	padding-right: 8px;
}

.header_for_devise{
	
	align-self: center;
	justify-self: start;
	font-size: 1.4rem;
}




.devise_login{
	grid-area: form;
	//width: 97%;


}

.devise_signup{
	text-align: center;
	margin-top: 1em;
}

.devise_signup input.btn{

	justify-self: stretch;
	height: 4em;
	width: 100%;

}

.chg_avatar{

	width: min-content !important;
}











@media screen and (max-width: 500px){

		
	#edit_user{
		margin: 0;
		padding: 0;
		width: 100%;

		display: grid;

		align-items: center;

		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);

		grid-template-areas:

			"edit_uid_label           edit_uid_label"
			"edit_uid                 edit_uid" 
			
			"edit_first_name_label    edit_first_name_label"
			"edit_first_name          edit_first_name"   
			
			"edit_last_name_label     edit_last_name_label"
			"edit_last_name           edit_last_name"   
			
			"edit_email_label         edit_email_label"
			"edit_email               edit_email"        
			
			"edit_current_label       edit_current_label"
			"edit_current             edit_current"
			
			"edit_change_label        edit_change_label"
			"edit_change              edit_change"
			
			"edit_confirm_label       edit_confirm_label"  
			"edit_confirm             edit_confirm"
			
			"edit_avatar_label        edit_avatar" 
			
			"edit_button              edit_button";


	}

	#new_user{
		margin: 0;
		padding: 0;
		width: 100%;

		display: grid;

		align-items: center;

		grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);

		grid-template-areas:

			"edit_uid_label           edit_uid_label"
			"edit_uid                 edit_uid" 
			
			"edit_first_name_label    edit_first_name_label"
			"edit_first_name          edit_first_name"   
			
			"edit_last_name_label     edit_last_name_label"
			"edit_last_name           edit_last_name"   
			
			"edit_email_label         edit_email_label"
			"edit_email               edit_email"        
			
			
			
			"edit_change_label        edit_change_label"
			"edit_change              edit_change"
			
			"edit_confirm_label       edit_confirm_label"  
			"edit_confirm             edit_confirm"
			
			"edit_avatar_label        edit_avatar" 
			
			"edit_button              edit_button";


	}

	.uid_label{
		grid-area: edit_uid_label;
		justify-self: start;
		align-self: end;
	}

	#user_uid{
		grid-area: edit_uid;
	}

	.first_name_label{
		grid-area: edit_first_name_label;
		justify-self: start;
		align-self: end;
	}

	#user_first_name{
		grid-area: edit_first_name;

	}

	.last_name_label{

		grid-area: edit_last_name_label;
		justify-self: start;
		align-self: end;
	}

	#user_last_name{
		grid-area: edit_last_name;
	}

	.email_label{
		grid-area: edit_email_label;
		justify-self: start;
		align-self: end;
	}

	#user_email{

		grid-area: edit_email;


	}

	.current_label{
		grid-area: edit_current_label;
		justify-self: start;
		align-self: end;
	}

	#user_current_password{

		grid-area: edit_current;


	}

	.change_label{
		grid-area: edit_change_label;
		justify-self: start;
		align-self: end;
	}

	#user_password{
		grid-area: edit_change;
	}

	.confirm_label{
		grid-area: edit_confirm_label;
		justify-self: start;
		align-self: end;
	}

	#user_password_confirmation{

		grid-area: edit_confirm;
	}

	.avatar_label{
		grid-area: edit_avatar_label;
		justify-self: end;
		align-self: center;
	}

	.avatar{

		grid-area: edit_avatar;
		justify-self: start;
		align-self: center;

		margin: 8px 8px;
	}

	#edit_button.btn{
		grid-area: edit_button;
	}

	

	.button_to_change_avatar{

		margin-right: 8px;

		padding: 2.5px 5px;

		
		text-decoration: none;
		background-color: red;
		//display: inline-block;
		

		//line-height: 50px;
	 	 white-space: nowrap;


	 	color:#444;
	    border:1px solid #CCC;
	    background:#DDD;
	    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
	    cursor:pointer;
	    //vertical-align:middle;
	    //max-width: 100px;
	    //padding: 5px;
	    //text-align: center;

	    -webkit-user-select: none; /* Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+/Edge */
		user-select: none; /* Standard */


	}






	.edit_label {
	    //text-align: left;
	    //margin: 2px 10px;
	    margin-top: 18px;
	    white-space: nowrap;
	    font-size: .75rem;
	    color: red;
    }


    .devise_login{
	grid-area: form;
	width: 88%;
    }
}