// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#video_section{

	background-color: blue;
	height: 250px;
}

#info_section{

	background-color: pink;
	height: 50px;
}

#chat_section{

	background-color: yellow;
	height: 500px;
}