// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
	padding: 0;
}

.uid{

	font-size: .57em;
}

.default_wrapper{
	
  	min-height: 100vh;

  	display: grid;


	
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) minmax(min-content, max-content) minmax(25px, 30px) 1fr;
	grid-template-areas:

		". header ."
		". video ."
		". info ."
		". chat ."
		
}

.admin_wrapper{
	
  	min-height: 100vh;
  	display: grid;
	justify-self: center;
	align-self: center;
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) 1fr ;
	grid-template-areas:

		". header ."
		". admin ."
		
		
}

.devise_wrapper{
	
  	min-height: 100vh;
  	display: grid;

  	justify-items: center;
  	align-items: center;
	
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) minmax(min-content, max-content) minmax(min-content, max-content);
	grid-template-areas:

		".header."
		". headline ."
		". login ."
		

		
		
}

header{

 	background-color: red;
 	
 	grid-area: header;

 	justify-self: stretch;
  	align-self: stretch;
 }





#video_section{

	background-color: blue;
	
	grid-area: video;

	//justify-self: center;

	


}

#info_section{

	background-color: pink;
	
	grid-area: info;
}

#chat_section{

	background-color: yellow;
	
	grid-area: chat;
}

#admin_section{
	grid-area: admin;
}

.upload-preview img{

	height: 50px;
	width: 50px;


}





//start chat section

#chat_section{

	display: grid;

	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: 1em 1fr 3em;

	grid-template-areas:
		". . ."

		". chats ."

		". msg ."
		

}

#chat_window{

	grid-area: chats;
	background-color: green;


		
}

#msg{

	grid-area: msg;
}