// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #f9f9f9;
}


#videos {
    max-width: 640px; 

    //min-width: 427px;
    //min-width: 340px;
    
    height: 360px;


    margin: 0 auto;
    padding: 10px;
    //position: relative;

   
    
}




#subscriber {
    width: 100%;
    height: 100%;
    background: black;
    //float: left;
    //clear: both;
}



@media screen and (max-width: 620px){

    #videos {

        max-width: 427px;

        //min-width: 427px;
        //min-width: 340px;
        
        height: 240px;


        margin: 0 auto;
        padding: 10px;
        //position: relative;

    }

}

.uid{

	font-size: .57em;
}

.default_wrapper{
	
  	min-height: 100vh;

  	display: grid;


	
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) minmax(min-content, max-content) 1fr minmax(min-content, max-content);
	grid-template-areas:

		"header header header"
		". video ."
		"  .    chat   .  "
		"  .     .    . "

		


}

.admin_wrapper{
	
  	min-height: 100vh;
  	display: grid;
	justify-self: center;
	align-self: center;
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) 1fr ;
	grid-template-areas:

		"header header header"
		". admin ."
		
		
}

.devise_wrapper{
	
  	min-height: 100vh;
  	display: grid;

  	justify-items: center;
  	align-items: center;
	
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows: minmax(40px, 50px) minmax(min-content, max-content) minmax(min-content, max-content);
	grid-template-areas:

		"header header header"
		". headline ."
		". login ."
		

		
		
}

header{

 	background-color: #ffffff;
 	
 	grid-area: header;

 	justify-self: stretch;
  	align-self: stretch;
 }





#video_section{

	//background-color: blue;
	
	grid-area: video;

	//justify-self: center;

	


}







#admin_section{
	grid-area: admin;
}

.upload-preview img{

	height: 50px;
	width: 50px;


}






//start chat section

#chat_section{

	//min-height: 12em;

	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	
	
	grid-area: chat;

	margin: 10px;

	grid-gap: 10px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px minmax(300px, 1fr) 38px;

	
	grid-template-areas:
		"chatBanner"
		"chatArea"
		"chatSend"

}

#info_section{

	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	//border-left: 1px solid #e0e0e0;
	//border-right: 1px solid #e0e0e0;

	//height: 50px;

	grid-area: chatBanner;

	
	
}

#chat_window{
	background-color: #f9f9f9;
	

	overflow-y: scroll;

	display: grid;
	padding: 5px 15px 0px 0px;
	grid-template-columns: repeat(2, min-content) minmax(150px, 1fr ) ;
	//grid-template-rows: min-content;
	//align-content: center;
	grid-auto-rows: min-content;
	grid-row-gap: .6em;
	grid-column-gap: 10px;

	grid-template-areas:
		"row_avatar row_name row_message";


	//height: 59vh;

	grid-area: chatArea;
	
	
}


#msg{

	
	align-self: end;

	grid-area: chatSend;

	background-color: #fff;
	display: grid;
	grid-template-columns: min-content min-content minmax(0, min-content) min-content min-content  ;
	//grid-template-rows: min-content, min-content;
	//align-content: center;
	grid-auto-rows: min-content;
	grid-row-gap: .6em;
	grid-column-gap: 10px;

	grid-template-areas:
		"my_avatar my_name my_message my_count my_button"
		"stats stats stats stats stats"

	
}

.chat_img{

	padding: 2px 5px 5px;
	

	//background-color: red;
	justify-self: start;
	align-self: start;
	//grid-area: row_avatar;
}

.my_avatar{

	grid-area: my_avatar
}

.chat_img img, .my_avatar img{

	width: 20px;
	height: 20px;
	border-radius: 50%;
}


.chat_name{
	//padding: 5px;
	justify-self: start;
	align-self: start;
	padding-top: 2.5px;
	//grid-area: row_name;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;
	
	

}

.my_name{
	grid-area: my_name;

	justify-self: start;
	align-self: start;
	padding-top: 2.5px;
	//grid-area: row_name;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;
}


.chat_msg{
	

	//background-color: blue;


	
	overflow-x: hidden;
	
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;



	//width: 40em;
	max-width: 100%;
	
	justify-self: start;
	align-self: start;

	//grid-area: row_message;

	//margin: 20px;


}


.stats{

	grid-area: stats;
}

input{

	grid-area: my_message;
}

button{

	grid-area: my_button;
}

#deleteSession, #publisherStart, #try2Connect{

	text-decoration: none;
	background-color: red;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	//margin: 0 auto;
	//float: right;

	line-height: 50px;
 	 white-space: nowrap;


 	color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    //vertical-align:middle;
    //max-width: 100px;
    //padding: 5px;
    //text-align: center;

}

#deleteSession:hover, #publisherStart:hover, #try2Connect:hover{

	color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.Chat{

	display: inline-block;
	width: min-content;
	line-height: 50px;
 	 white-space: nowrap;
 	 padding-left: 8px;
 	 padding-left: 20px;

}

.menu{

	display: inline-block;
	float: right;
	
}
.menu svg{

	width: 20px;
	padding-top: 14px;
	padding-right: 20px;


}




@media only screen and (min-width: 1015px){

	.default_wrapper{
	
  		min-height: 100vh;

	  	display: grid;


		
		grid-template-columns: 1fr minmax(min-content, 650px) minmax(300px, 420px) 1fr;
		grid-template-rows: minmax(40px, 50px) 10px minmax(min-content, max-content) 1fr;
		grid-template-areas:

			"header header header header"
			"  .      .     .   .   "
			"  .    video   chat    .   "
			"  .      .       .      .  "
			
			
	}	


	#videos{

		margin: 0 auto;

		max-width: 640px; 

	    //min-width: 427px;
	    //min-width: 340px;
	    
	    height: 360px;


	    
	    //padding: 10px;
	}

	#video_section{

		//justify-self: center;
		//align-self: center;
		//justify-items: stretch;	
		//margin: 0 auto;

	}

	#subscriber{

		padding: 0;
	}

	

	.chat_msg{
		//background-color: blue;


		
		overflow-x: hidden;
		
		overflow-wrap: break-word;
		word-wrap: break-word;

		/* Adds a hyphen where the word breaks, if supported (No Blink) */
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;



		//width: 15em;
		max-width: 100%;





		justify-self: start;
		align-self: start;
	}


	
}


input{



	-webkit-appearance: none;
    //width: 100%;
    border: 0;
    font-family: inherit;
    //padding: 12px 0;
    height: 20px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background-color: #fff;
    //border-radius: 0;
    //color: #223254;
    //transition: all .15s ease;
    //&:hover
      //background: rgba(#223254,.03);
    //&:not(:placeholder-shown)
      //+ span
       // color #5A667F;
        //transform: translateY(-26px) scale(.75);
    //&:focus
    //  background: none;
    //  outline: none;
    //  + span
    //    color #0077FF;
    //    transform: translateY(-26px) scale(.75);
    //    + .border
    //        transform: scaleX(1);

}



.jQTAreaCount {
// class to show input count
}
.jQTAreaCountR {
    // class to show input count in reverse
}
.jQTAreaValue {
    // Class to show max value set
}
.jQTAreaExt {
    // Set the height or width property to 100%
    background-color: black;
    height: 5px;

}
