// Place all the styles related to the General controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/////////////////    htmL - body - header - resets etc.. ////////

$color-accent     : #d21e1e;
$animate: all 0.1s ease-in-out;

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #f9f9f9;
}

header{

 	background-color: #ffffff;
 	
 	grid-area: header;

 	justify-self: stretch;
  	align-self: stretch;
}

.errors{

	grid-area: errors;
}


////////////////////// PAGE WRAPPERS and overlays /////////////////////////////
.universal_wrapper{

	display: grid;

	justify-items: center;

	min-height: 100vh;
	grid-template-columns: minmax(0px, 1fr);
	grid-template-areas: 

	      "universe";
}




.default_wrapper{




	grid-area: universe;
	
  	min-height: 100vh;
  	
  	grid-row-gap: 10px;
  	
  	display: grid;
	grid-template-columns: 1em minmax(0px, 666px) 1em;
	grid-template-rows:  minmax(0px, min-content) 10px minmax(0px, min-content) minmax(0px, min-content)  ;
	grid-template-areas:

		
		".      errors    .  "
		".        .        .  "
		"  .    video     .  "
		"  .    chat      .  ";
		
}



.default_wrapper_overlay{
	
		grid-area: universe;

	  	min-height: 100vh;
	  	
	  	display: grid;

	  	
		
		grid-template-columns: 1em minmax(0px, 666px) 1em;
		grid-template-rows:  minmax(0px, min-content) 10px minmax(0px, max-content);
		grid-template-areas:

			
			".      errors .     "
			"  .      .       .      "
			"  .    video     .  ";
			
	}

.admin_wrapper{

	grid-area: universe;
	
  	min-height: 100vh;

  	justify-self: center;
  	align-self: center;
  	
  	display: grid;
	grid-template-columns: 1em 1fr 1em;
	grid-template-rows:  1fr ;
	grid-template-areas:

		
		"  .    admin    .   "
}


.devise_wrapper{

	grid-area: universe;
	
  	min-height: 100vh;
  	width: 100%;
  	margin: 0;
  	padding: 0;
  	
  	justify-items: center;
  	align-items: center;
	
	display: grid;
	grid-template-columns: 1em minmax(200px, 1fr) 1em;
	grid-template-rows:  minmax(0px, min-content) minmax(min-content, max-content) minmax(min-content, max-content);
	grid-template-areas:

		

		".      errors ."
		"  .   form   .  "
		"  .    login    .  ";
}

.forgot_password_wrapper, .email_confirmation_wrapper{

	grid-area: universe;

	min-height: 100vh;
	display: grid;

	justify-items: center;
  	
	grid-template-columns: 1em minmax(222px, 1fr) 1em;
	grid-template-rows:  minmax(0px, min-content);

	grid-template-areas:

	
	".      errors                    ."
	"  .        forgot_password     .  ";


}






////////////////   VIDEO SECTiON   /////////////////////


.aspect_ratio_wrapper{
	grid-area: screen;
	


	overflow: hidden;
	height: 0;
	padding-top: 55%;
	position: relative;

	
	width: 100%;
	max-width: 666px;
	align-self: center;
	justify-self: center;

}

.inside_aspect_ratio_wrapper{
	position: absolute;
	top: 0;
	left: 0;

	
	height: 100%;
	width: 100%;

	

}







.video_section{

	grid-area: video;
	justify-content: center;
	align-content: center;



	//margin: 20px 0px 10px 0px;
	position: relative;
	
	width: 100%;
	height: 100%;


	display: grid;

  	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0px, max-content);
	grid-template-areas:

		
		" screen ";
		
}


.video_section_overlay{

	margin: 20px 0px;
	position: relative;
	
	width: 100%;
	//height: 100%;

	grid-area: video;



	border: 1px solid #e0e0e0;
	

	display: grid;

  	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: 25px minmax(0px, max-content) minmax(0, min-content);
	grid-template-areas:

		" bar  "
		" screen"
		" talk ";
}


.bar{
	
	background-color: #fff;
	grid-area: bar;
	width: 100%;
	//overflow: hidden;

	

}

#deleteSession_overlay{

	//height: 20px;
}

#cover_image{

	

	
    content: "";
    //width: 10%;
    height: auto;
    position: absolute;
    //background:rgba(0, 0, 0, .8);
    z-index: 1; 
    // Take note of this negative z-index and copare to each article's positive z-index. This helps your content to show up over the overlay.
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    padding: 40px;

    background-image: linear-gradient(to top, #535252e0 30%, #000 96%);


	
    

}



#cover_image img{
	//z-index: -2;
	display:block;
    margin: 20px auto;
	width: 100px;
	height: 100px;

	//background: linear-gradient(#004092, #020202, transparent), url("cwa-logo.png") no-repeat center; 
	//background-size: cover; 
	box-shadow: 0px 10px 10px -2px rgba(0,0,0,.4); 
}

#cover_image h1{
	color: white;
	font-weight: 800;
	font-size: 1.6rem;
	display:block;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;

	
}

#cover_image h2{
	color: white;
	font-weight: 900;
	font-size: 1.2rem;
	display:block;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.1px;

	
}
#test_pattern{
	
	//grid-area: screen;
	//z-index: -1;
	//position: relative;

	width: 100%;
	height: 100%;

	position: absolute;
	//top: 0;
	//left: 0;



	display: grid;

	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(12, 1fr);
	

}

.bar1{
	background-color: #CCCCCC;
	//background-color: rgba(204,204,204,.3);
	grid-column: 1 / 2;
  	grid-row: 1 / 9;
}
.bar2{
	background-color: #FFFF01;
	//background-color: rgba(255,255,1,.3);
	grid-column: 2 / 3;
  	grid-row: 1 / 9;
}
.bar3{
	background-color: #01FFFF;
	//background-color: rgba(1,255,255,.3);
	grid-column: 3 / 4;
  	grid-row: 1 / 9;
}
.bar4{
	background-color: #01FF01;
	//background-color: rgba(1,255,1,.3);
	grid-column: 4 / 5;
  	grid-row: 1 / 9;
}
.bar5{
	background-color: #FF3FFC;
	//background-color: rgba(255,63,252,.3);
	grid-column: 5 / 6;
  	grid-row: 1 / 9;
}
.bar6{
	background-color: #FD241F;
	//background-color: rgba(253,36,31,.3);
	//grid-column: 6 / 7;
  	grid-row: 1 / 9;
}
.bar7{
	background-color: #0000FE;
	//background-color: rgba(0,0,254,.3);
	grid-column: 7 / 8;
  	grid-row: 1 / 9;
}
.bar8{
	background-color: #0000FE;
	//background-color: rgba(0,0,254,.3);
	grid-column: 1 / 2;
  	grid-row: 9 / 10;
}
.bar9{
	//background-color: #000000;
	//background-color: rgba(0,0,0,.3);
	grid-column: 2 / 3;
  	grid-row: 9 / 10;
}
.bar10{
	background-color: #FF3FFC;
	//background-color: rgba(255,63,252,.3);
	grid-column: 3 / 4;
  	grid-row: 9 / 10;
}
.bar11{
	ackground-color: #000000;
	//background-color: rgba(0,0,0,.3);
	grid-column: 4 / 5;
  	grid-row: 9 / 10;
}
.bar12{
	background-color: #01FFFF;
	//background-color: rgba(1,255,255,.3);
	grid-column: 5 / 6;
  	grid-row: 9 / 10;
}
.bar13{
	background-color: #000000;
	//background-color: rgba(0,0,0,.3);
	grid-column: 6 / 7;
  	grid-row: 9 / 10;
}
.bar14{
	background-color: #CCCCCC;
	//background-color: rgba(204,204,204,.3);
	grid-column: 7 / 8;
  	grid-row: 9 / 10;
}
.bar15{
	height: 90px;
	grid-column: 1 / -1;
  	grid-row: 10 / -1;

  	

	display: grid;

	grid-template-columns: .2006fr .1990fr .2071fr .1327fr .0421fr .0437fr .0453fr .1294228155fr ;
	grid-template-rows: 1fr;
	
}
.bar16{
	background-color: #063E59;
	//background-color: rgba(6,62,89,.5);
	grid-column: 1 / 2;
  	grid-row: 1 / 2;
  	//z-index: 12346;
}

.bar17{
	background-color: #FFFFFF;
	//background-color: rgba(255,255,255,.3);
	grid-column: 2 / 3;
  	grid-row: 1 / 2;
}
.bar18{
	background-color: #2D4698;
	//background-color: rgba(45,70,152,.3);
	grid-column: 3 / 4;
  	grid-row: 1 / 2;
}
.bar19{
	background-color: #5C5C5C;
	//background-color: rgba(92,92,92,.3);
	grid-column: 4 / 5;
  	grid-row: 1 / 2;
}
.bar20{
	background-color: #3F3F3F;
	//background-color: rgba(63,63,63,.3);
	grid-column: 5 / 6;
  	grid-row: 1 / 2;
}
.bar21{
	background-color: #6C6C6C;
	//background-color: rgba(108,108,108,.3);
	grid-column: 6 / 7;
  	grid-row: 1 / 2;
}
.bar22{
	background-color: #979797;
	//background-color: rgba(151,151,151,.3);
	grid-column: 7 / 8;
  	grid-row: 1 / 2;
}
.bar23{
	background-color: #000000;
	//background-color: rgba(0,0,0,.3);
	grid-column: 8 / 9;
  	grid-row: 1 / 2;
}



#videos {
    
    
	//height: 360px;

	//position: relative;
	width: 100%;
	height: 100%;


	position: absolute;





	//grid-area: screen;

	

	-webkit-box-shadow: 0 3px 2px #777;
	-moz-box-shadow: 0 3px 2px #777;
	box-shadow: 0 3px 2px #777;

    //margin: 0 auto;
 }


//makes video smaller (640width to 427width)
//@media screen and (max-width: 620px){

//    #videos {

//        max-width: 427px;
//		height: 240px;
//		padding: 10px;

        //margin: 0 auto;
//	}

//}


#subscriber {
    
    width: 100%;
    height: 100%;
    background: black;
    //background-image: url("meeting.jpg");
    //background-size: cover;
}


#overlay{


	//background-color: #f9f9f9;
	//background: rgba(0,0,0, 0.5);
	background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,36,36,0.4037814955083596) 78%);
	background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,36,36,0.4037814955083596) 78%);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(23,36,36,0.4037814955083596) 78%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#172424",GradientType=1);
	z-index: 5;
	position: relative;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none; 
	scrollbar-width: none;

	//max-height: 100%;
	height: 100%;
	

	overflow-y: scroll;
	


	display: grid;
	padding: 5px 15px 0px 0px;
	grid-template-columns: repeat(2, min-content) minmax(150px, 1fr ) ;
	//grid-template-rows: min-content;
	//align-content: center;
	grid-auto-rows: min-content;
	grid-row-gap: .6em;
	grid-column-gap: 10px;

	grid-template-areas:
		"row_avatar_overlay row_name_overlay row_message_overlay";

	
	//height: 59vh;

	//grid-area: screen;





}

#talk{

	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;

	align-self: end;

	grid-area: talk;

	padding-top: 8px;

	background-color: #fff;
	display: grid;
	/////grid-template-columns: min-content min-content minmax(100px, 1fr) 1fr min-content;
	

	//align-content: center;
	/////////grid-auto-rows: min-content;
	//grid-row-gap: .6em;
	//grid-column-gap: 10px;

	//////grid-template-areas:
	//////	"my_avatar_oL   my_name_oL   my_message_oL  my_message_oL  my_stats_oL   my_button_oL ";



	grid-template-columns: min-content min-content 1fr min-content min-content 20px  ;
	grid-template-rows: min-content 25px min-content;
	//align-content: center;
	//grid-auto-rows: min-content;
	//grid-row-gap: .6em;
	//grid-column-gap: 10px;

	grid-template-areas:
		"my_avatar_oL   my_name_oL       .           .          .        . "
		"    .     my_message_oL  my_message_oL  my_message_oL  my_message_oL  . "
		"    .         .        my_stats_oL    my_stats_oL    my_button_oL  . ";

		
}



////////////////////// img name message => in the chat windows///////
.chat_img_overlay{

	padding: 2px 5px 5px;
	

	//background-color: red;
	justify-self: start;
	align-self: start;
	//grid-area: row_avatar;
}

.chat_name_overlay{
	//padding: 5px;
	justify-self: start;
	align-self: start;
	padding-top: 2.5px;
	//grid-area: row_name;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;
	font-weight: 400
}


.chat_msg_overlay{
	
	overflow-x: hidden;
	
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;


	//border:1px solid #CCC;
	//width: 40em;
	max-width: 100%;
	
	justify-self: start;
	align-self: start;

	//grid-area: row_message;

	color: #fff;
	font-weight: 500;
}



/////////////// img name message => in the bottom SEND msg section  ///////


.my_avatar_overlay{

	grid-area: my_avatar_oL;
	padding-left: 10px;
}

.my_avatar img{

	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.my_name_overlay{

	align-self: start;
	padding-left: 5px;
	padding-top: 2.5px;
	grid-area: my_name_oL;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;

}

.my_message_overlay{

	grid-area: my_message_oL;
	padding-left: 5px;
	
	//padding-bottom: 3px;
	//@include underline-from-center;

}

.stats_overlay{

	justify-self: end;
	align-self: start;
	font-size: .75rem;
	padding: 7px;

	overflow: hidden;
    white-space: nowrap;
    grid-area: my_stats_oL;
}

.send_button_overlay{

	width: 20px;
	height: 20px;
	grid-area: my_button_oL;
	padding: 1px 10px 5px 0px;
}




////////////////////////   CHat SECTiON   ///////////////////

#chat_section{

	//margin: 20px 0px;

	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;

	width: 100%;

	

	//-webkit-box-shadow: 0 3px 2px #777;
	//-moz-box-shadow: 0 3px 2px #777;
	//box-shadow: 0 3px 2px #777;
	
	
	grid-area: chat;
	//grid-area: video;

	//margin: 10px;

	//grid-gap: 10px;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 51px 215px minmax(0px, min-content);

	
	grid-template-areas:
		"chatBanner"
		"chatArea"
		"chatSend";

}

#info_section{

	background-color: #fff;
	border-bottom: 1px solid #e0e0e0;
	//border-left: 1px solid #e0e0e0;
	//border-right: 1px solid #e0e0e0;

	//height: 50px;

	grid-area: chatBanner;
	//display: none;
	position: relative;
}

.Chat{

	display: inline-block;
	width: min-content;
	line-height: 50px;
 	 white-space: nowrap;
 	 padding-left: 8px;
 	 padding-left: 20px;
 	 text-transform: uppercase;
 	 font-weight: 600;
 	 font-size: .75rem;

}

.chat_overlay{

	display: inline-block;
	width: min-content;
	line-height: 25px;
	 white-space: nowrap;
	 padding-left: 8px;
	 
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: .6rem;

}

.menu{

	//display: inline-block;
	//float: right;
	
}
.menu svg{

	width: 20px;
	padding-top: 14px;
	padding-right: 20px;


}


#chat_window{

	background-color: #f9f9f9;
	//background: rgba(0,0,0, 0.5);
	//z-index: 420;
	
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none; 
	scrollbar-width: none;

	max-height: 100%;
	

	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none; 


	display: grid;
	padding: 5px 15px 0px 0px;
	grid-template-columns: repeat(2, min-content) minmax(150px, 1fr ) ;
	//grid-template-rows: minmax(min-content, max-content);
	//grid-template-rows: min-content;
	//align-content: center;
	grid-auto-rows: min-content;
	grid-row-gap: .6em;
	grid-column-gap: 10px;

	//grid-template-areas:
		//"row_avatar row_name row_message";
		//"menuOL menuOL menuOL";

	//height: 59vh;

	grid-area: chatArea;
	//position: relative;
}


.chat_img{

	padding-left: 10px;
	

	//background-color: red;
	justify-self: start;
	align-self: start;
	//grid-area: row_avatar;
}

.chat_name{
	//padding: 5px;
	justify-self: start;
	align-self: start;
	padding-top: 2.5px;
	//grid-area: row_name;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;
}


.chat_msg{
	
	overflow-x: hidden;
	
	overflow-wrap: break-word;
	word-wrap: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;


	//border:1px solid #CCC;
	//width: 40em;
	max-width: 100%;
	
	justify-self: start;
	align-self: start;

	//grid-area: row_message;
}





#msg{

	
	align-self: end;

	grid-area: chatSend;

	border-top: 1px solid #e0e0e0;

	background-color: #fff;
	display: grid;
	grid-template-columns: min-content min-content 1fr min-content min-content 20px  ;
	grid-template-rows: min-content 25px min-content;
	//align-content: center;
	//grid-auto-rows: min-content;
	//grid-row-gap: .6em;
	//grid-column-gap: 10px;

	grid-template-areas:
		"my_avatar   my_name       .           .          .        . "
		"    .     my_message  my_message  my_message  my_message  . "
		"    .         .        my_stats    my_stats    my_button  . ";
}



.my_avatar{

	grid-area: my_avatar;
	padding-top: 5px;
}

.chat_img img, .chat_img_overlay img{

	width: 20px;
	height: 20px;
	border-radius: 50%;
}




.my_name{
	grid-area: my_name;

	justify-self: start;
	align-self: center;
	padding-top: 2.5px;
	padding-left: 10px;
	//grid-area: row_name;

	//background-color: yellow;
	overflow: hidden;
    white-space: nowrap;
	
	font-size: .78em;
	color: #a8a8a8;
}


.my_message{

	grid-area: my_message;
	
	//padding-bottom: 3px;
	padding-left: 10px;
	//@include underline-from-center;
	//line-height: 8px;
	
}

input{

	max-width: 100%;
}


.stats{

	grid-area: my_stats;

	justify-self: end;
	align-self: center;
	padding-right: 10px;
	font-size: .75rem;
	padding: 10px;

	overflow: hidden;
    white-space: nowrap;
}


.jQTAreaCount {
// class to show input count
}
.jQTAreaCountR {
    // class to show input count in reverse
}
.jQTAreaValue {
    // Class to show max value set
}
.jQTAreaExt {
    // Set the height or width property to 100%
    background-color: black;
    height: 5px;
}


.send_button{
	width: 20px;
	height: 20px;
	grid-area: my_button;
	padding: 10px 0 10px 5px;
}





/////////////////////  button  styLe    /////////////  


.btn{

	//text-decoration: none;
	background-color: red;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	//margin: 0 auto;
	//float: right;

	line-height: 50px;
 	 white-space: nowrap;


 	color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    //vertical-align:middle;
    //max-width: 100px;
    //padding: 5px;
    //text-align: center;

    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

.btnV2{

	text-decoration: none;
	background-color: red;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	//margin: 0 auto;
	//float: right;

	line-height: 18px;
 	white-space: nowrap;
 	color: rgb(63, 63, 63);

 	background: rgba(#C8C0C0, .9);
    
    //background: rgba(black, .9);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    //vertical-align:middle;
    //max-width: 100px;
    //padding: 5px;
    //text-align: center;

    -webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

.btnV2:hover{

	background: rgba(#e0c9c9, .9);
	color: rgb(38, 38, 38);

}

a{
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	font-size: .8rem;


}

a:hover{

	
    //box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);

    
}













//////////////////   for BiG screens 1015px or biggger    ///////////


@media only screen and (min-width: 1044px){

	.default_wrapper{
	
  		min-height: 100vh;

	  	display: grid;


		
		grid-template-columns: 1fr minmax(666px, 666px) minmax(300px, 420px) 1fr;
		grid-template-rows:  minmax(0px, min-content) 10px minmax(0px, min-content) ;
		grid-template-areas:

			
			" .      errors  errors   .  "
			"  .      .       .     .   "
			"  .    video   chat    .   ";
			
	}	


	
	.default_wrapper_overlay{
	
	  	min-height: 100vh;
	  	justify-items: center;
	  	display: grid;

	  	justify-items: center;
		
		grid-template-columns: 1em minmax(666px, 666px) 1em;
		grid-template-rows:  minmax(0px, min-content) 10px minmax(420px, max-content) ;
		grid-template-areas:

			
			"  .    errors   .       "
			"  .      .       .      "
			"  .    video     .      ";
			
	}

	.errors{

		grid-area: errors;
	}

	.aspect{
		grid-area: video;
		


		//overflow: hidden;
		//height: 0;
		//padding-top: 40%;
		//position: relative;
		padding: 0;
		height: auto;

		
		width: 100%;
		align-self: start;
		//justify-self: center;

	}

	.aspect_inside{
		position: relative;
		//top: 0;
		//left: 0;

		
		height: 100%;
		width: 100%;


	

	}

	.video_section{

	//grid-area: video;
	justify-content: center;
	align-content: start;



	//margin: 20px 0px 10px 0px;
	position: relative;
	
	width: 100%;
	height: 100%;


	display: grid;

  	grid-template-columns: 1em minmax(0, 1fr) 1em;
	//grid-template-rows: minmax(0px, max-content);
	grid-template-areas:

		
		" . screen .";
		
	}

	//.video_section_overlay{
	//	border: 1px solid #e0e0e0;
	//}


	.bar{



		background-color: #fff;
		grid-area: bar;
		width: 100%;
	}


	#videos{

		//margin: 0 auto;

		//max-width: 640px; 

	    //min-width: 427px;
	    //min-width: 340px;
	    
	    //height: 360px;


	    
	    //padding: 10px;
	    grid-area: screen;
	}

	
	#subscriber{

		padding: 0;
	}

	

	.chat_msg{
		//background-color: blue;


		
		overflow-x: hidden;
		
		overflow-wrap: break-word;
		word-wrap: break-word;

		/* Adds a hyphen where the word breaks, if supported (No Blink) */
		-ms-hyphens: auto;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;



		//width: 15em;
		max-width: 100%;





		justify-self: start;
		align-self: start;
	}


	
}

@media only screen and (max-width: 550px){

	#cover_image img{
	//z-index: -2;
	display:block;
    margin: 10px auto;
	width: 50px;
	height: 50px;

	//background: linear-gradient(#004092, #020202, transparent), url("cwa-logo.png") no-repeat center; 
	//background-size: cover; 
	box-shadow: 0px 10px 10px -2px rgba(0,0,0,.4); 
}

#cover_image h1{
	color: white;
	font-weight: 900;
	font-size: .9rem;
	display:block;
    text-align: center;

	
}

#cover_image h2{
	color: white;
	font-weight: 900;
	font-size: .7rem;
	display:block;
    text-align: center;

	
}


}








////////////////  Chat text box border ANIMATION ///////////////////


#message, #message_overlay, select {
  border: none;
  border-bottom: 2px solid darkgrey;
  background-color: inherit;
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0;
  height: 22px;
}

#message:focus, #message_overlay:focus, select:focus {
  outline: none;
}



.line {
  height: 2px;
  width: 0px;
  //position: absolute;
  background-color: darkgrey;
  display: inline-block;
  transition: .3s width ease-in-out;
  position: relative;
  top: -17px;
}

#message:focus+.line, #message_overlay:focus+.line, select:focus+.line {
  width: 100%;
  background-color: #02add7;


}


////////////    menu hamburger for chat ///////

.expand_menu_checkbox, 
.expand_menu_checkbox_overlay,
.expand_menu_checkbox_overlay_clone,
.hamburger_to_x_checkbox{
	display: none;
}




.hamburger_menu_label{

	float: right;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	vertical-align: middle;
	padding-right: 20px;
	cursor: pointer;

}

.hamburger_menu_label_overlay{

	float: right;
	height: 25px;
	display: inline-block;
	line-height: 25px;
	vertical-align: middle;
	padding-right: 20px;
	cursor: pointer;

}



.menu{

	margin: 0;
	padding: 0;
	position: absolute;
	top: 50;
	right: 0;
	list-style: none;
	overflow: hidden;
	
	width: 200px;
	
	//z-index: 22292;
	
	max-height: 0;
	transition: max-height .2s ease-out;
	


}

.menu_overlay{

	top: 25px;
	left: 38px;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	
	width: 171.5px;
	//grid-area: chatArea;
	z-index: 6;
	//justify-self: end;
	//padding-top: -60px;
	max-height: 0;
	transition: max-height .2s ease-out;
	float: right;
	position: relative;




}

.menu a, .menu_overlay a{

	display: block;
	//outline: 1px solid red;
	padding: 20px;
	//border-right: 1px solid green;


}

.menu a:hover, , .menu_overlay a:hover{

	//background-color: red;
}


.hamburger_menu{

	background-color: rgba(8, 7, 7, 1);
	display: inline-block;
	height: 2px;
	width: 18px;
	position: relative;
	transition:backround .2s ease-out;
	
	vertical-align: middle;
}

.hamburger_menu:before{
	background-color: rgba(8, 7, 7, 1);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 5px;
}

.hamburger_menu:after{
	background-color: rgba(8, 7, 7, 1);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -5px;
	transition: all .2s ease-out;
}


.hamburger_menu_overlay{

	background-color: rgba(8, 7, 7, 1);
	display: inline-block;
	height: 2px;
	width: 18px;
	position: relative;
	transition:backround .2s ease-out;
	
	vertical-align: middle;
}

.hamburger_menu_overlay:before{
	background-color: rgba(8, 7, 7, 1);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	transition: all .2s ease-out;
	top: 4px;
}

.hamburger_menu_overlay:after{
	background-color: rgba(8, 7, 7, 1);
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -4px;
	transition: all .2s ease-out;
}



.expand_menu_checkbox:checked ~ .menu{

	max-height: 300px;
}



.expand_menu_checkbox_overlay_clone:checked ~ .menu_overlay{

	max-height: 300px;
}






.hamburger_to_x_checkbox:checked ~ .hamburger_menu_label .hamburger_menu{
 	background: transparent;
}

.hamburger_to_x_checkbox:checked ~ .hamburger_menu_label .hamburger_menu:before{
	transform: rotate(-45deg);
	top: 0;
	
}

.hamburger_to_x_checkbox:checked ~ .hamburger_menu_label .hamburger_menu:after{

	transform: rotate(45deg);
	top: 0;
}








.expand_menu_checkbox_overlay:checked ~ .hamburger_menu_label_overlay .hamburger_menu_overlay{
 	background: transparent;
}

.expand_menu_checkbox_overlay:checked ~ .hamburger_menu_label_overlay .hamburger_menu_overlay:before{
	transform: rotate(-45deg);
	top: 0;
	
}

.expand_menu_checkbox_overlay:checked ~ .hamburger_menu_label_overlay .hamburger_menu_overlay:after{

	transform: rotate(45deg);
	top: 0;
}
