header{

	display: grid;
	
	grid-template-columns: 1em 1fr 11fr 1fr 1em;

	
	grid-template-areas:

		". logo avatar nav ."

  	
}




#logo{
	
	
	
	grid-area: logo;
	justify-self: left;
	
  	height: 40px;
  	width: 40px;
  	align-self: center;
}

#avatar{

	grid-area: avatar;
	align-self: center;
	justify-self: end;
	margin-right: .5em;
	margin-bottom: 3px;

	
  	height: 25px;
  	width: 25px;
}

#avatar img{

	height: 100%;
	width: 100%;
	border-radius: 10%;


}

nav{
	
	grid-area: nav;
	align-self: center;
	justify-self: end;
	padding-bottom: 2px;
	width: min-content;
	white-space: nowrap;
	

	
	
}

nav ul{

	margin: 0;
	padding: 0;
	list-style-type: none;
	

	
	
}

nav li{
	display: inline-block;
	
}

nav a{

	color:black;
	
	font:1em/1.2 Helvetica, sans-serif;
	
	text-decoration:none;
	vertical-align:bottom;

}

nav #logged_in{

	font-size: .7em;
}


.uid{

	font-size: .57em;
}