header{

	display: grid;
	
	grid-template-columns: 1em 1fr 5fr 1fr 1em;

	
	grid-template-areas:

		". logo nav avatar ."

  	
}




#logo{
	
	
	
	grid-area: logo;
	justify-self: left;
	
  	height: 40px;
  	width: 40px;
  	align-self: center;
}

#avatar{

	grid-area: avatar;
	align-self: end;

	
  	height: 39px;
  	width: 39px;
}

#avatar img{

	height: 100%;
	width: 100%;
	border-radius: 10%;


}

nav{
	
	grid-area: nav;
	align-self: end;
	justify-self: end;

	
	
}

nav ul{

	margin: 0;
	padding: 0;
	list-style-type: none;
	

	
	
}

nav li{
	display: inline-block;
	
}

nav a{

	color:black;
	
	font:1em/1.2 Helvetica, sans-serif;
	
	text-decoration:none;
	vertical-align:bottom;
}

nav #logged_in{

	font-size: .7em;
}
