#videos {
    width: 100px;
    height: 100px;
    background: green;
    
}

#subscriber {
    width: 100px;
    height: 100px;
    background: brown;
    float: left;
    clear: both;
}

#publisher {
    width: 100px;
    height: 100px;
    background: purple;
    float: right;
    clear: both;
}